service: telegram-bots-backend

provider:
  name: aws
  runtime: nodejs4.3
  stage: prod
  region: eu-central-1
  memory: 128
  timeout: 3
# you can add statements to the Lambda function's IAM Role here
#  iamRoleStatements:
#    - Effect: "Allow"
#      Action:
#        - "s3:ListBucket"
#      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" } ] ]  }
#    - Effect: "Allow"
#      Action:
#        - "s3:PutObject"
#      Resource:
#        Fn::Join:
#          - ""
#          - - "arn:aws:s3:::"
#            - "Ref" : "ServerlessDeploymentBucket"

# you can add packaging information here
package:
  include:
    - node_modules
  exclude:
    - .eslintrc
    - package.json
    - node_modules/eslint*
#  artifact: my-service-code.zip

functions:
  grantel:
    handler: grantler.grantel
    events:
      - http:
          path: bots/grantler/grantel
          method: post
  griasde:
    handler: grantler.griasde
    events:
      - http:
          path: bots/grantler/griasde
          method: get
#    you can add any of the following events
#    events:
#      - http:
#          path: users/create
#          method: get
#      - s3: ${env.BUCKET}
#      - schedule: rate(10 minutes)
#      - sns: greeter-topic

# you can add CloudFormation resource templates here
#resources:
#  Resources:
#    NewResource:
#      Type: AWS::S3::Bucket
#      Properties:
#        BucketName: my-new-bucket
#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"
